body {
    background-color: gainsboro;
    padding: 16px;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.text-right {
    display: block;
    text-align: right;
    width: 100%;
}